*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, purple, blue);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: gray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    color: white;
    background-color: rgb(66, 61, 61);
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.botao:hover{
    background-color: rgb(41, 37, 37);
}

#resultado{
    background-color: rgb(39, 112, 39);
    margin: 5px;
    height: 30px;
    width: 207px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}